#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 0;
}

.summary {
  background-color: var(--yellow-color);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 1em;
  text-align: left;
}

.summary>* {
  margin-top: 0;
}

figure {
  margin: 0;
}

img.headshot {
  border: .75em var(--green-color) solid;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

main {
  display: flex;
  flex-direction: column;
}

main ul {
  list-style: none;
}

#links,
#skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
}

#links li a,
#links li img {
  transition: .4s ease-out;
}

#links li img {
  width: 3.5em;
}

#links li a {
  filter: invert(52%) sepia(67%) saturate(280%) hue-rotate(138deg) brightness(89%) contrast(87%);
}

#links li a:hover {
  filter: invert(30%) sepia(37%) saturate(857%) hue-rotate(163deg) brightness(92%) contrast(97%);
  transform: scale(1.1);
}

#skills {
  align-items: center;
}

#skills li img {
  width: 3.75em
}

/* Desktop */
@media (min-width: 768px) {
  #root {
    gap: 4em;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  main h2 {
    text-align: left;
    text-decoration: underline;
  }

  img.headshot {
    transition: .4s ease-out;
  }

  img.headshot {
    width: 350px;
  }

  main {
    max-width: 60ch;
  }

  .summary button:hover {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    transform: scale(1.05);
  }

  #skills {
    max-width: 400px;
  }

  img.headshot,
  #skills img {
    cursor: zoom-in;
  }

  img.headshot:hover {
    border-width: .25em;
    box-shadow: var(--box-shadow-light);
    margin: 2em 1rem;
    transform: scale(1.2);
  }

  #links li img,
  #skills img {
    transition: transform .4s ease-out;
  }

  #links li img:hover,
  #skills img:hover {
    transform: scale(1.1);
  }
}

/* Mobile */
@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.3em;
  }

  img.headshot {
    width: 200px;
  }

  main {
    align-items: center;
  }

  #skills {
    justify-content: center;
  }
}

@media (prefers-reduced-motion: reduce) {

  /* Disable or reduce animations/transitions */
  * {
    animation: none !important;
    transition: none !important;
  }
}